{
    "context_is_admin":  "role:admin",
    "admin_or_owner":  "is_admin:True or project_id:%(project_id)s",
    "default": "rule:admin_required",

    "monitoring:monitoring": "rule:admin_required",
}
