# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
# Hacking already pins down pep8, pyflakes and flake8
hacking>=3.0.1,<3.1.0 # Apache-2.0

coverage>=5.2.1 # Apache-2.0
nodeenv>=0.9.4 # BSD
selenium>=2.50.1 # Apache-2.0

# Horizon
pytest>=5.3.5 # MIT
