{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Alarm Definition Details' %}{% endblock %}

{% block breadcrumb_nav %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item-truncate">{% trans "Monitoring" %}</li>
    <li class="breadcrumb-item-truncate"><a href="/dashboard/monitoring/alarmdefs/">{% trans "Alarm Definitions" %}</a></li>
    <li class="breadcrumb-item-truncate active">{{ alarm.name|default:_("None") }}</li>
  </ol>
{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Alarm Definition Details") %}
{% endblock page_header %}

{% block main %}
  <div class="row">
    <div class="col-sm-12">
    {% include 'monitoring/alarmdefs/_detail.html' %}
    </div>
  </div>
{% endblock %}
