{% load i18n %}

{% block js %}{% spaceless %}
    <script type="text/javascript">
        window._alarm_edit_ctrl_metrics = {{ metrics|safe|default:"[]" }}
    </script>
{% endspaceless %}{% endblock %}


<div class="alarm-expression">

    <input type="hidden" name="{{ name }}" id="expression">

    <div class="row expression-details">
        <div class="col-md-2">
            <select id="function"
                    class="form-control"
                    aria-label="{% trans 'Function' %}"
                    title="{% trans 'Function' %}"
                    ng-model="currentFunction"
                    ng-options="f[0] as f[1] for f in {{func}}"
                    ng-change="saveExpression()"></select>
        </div>
        <div class="col-md-6">
            <select id="metric-chooser"
                    class="form-control"
                    aria-label="{% trans 'Metric' %}"
                    title="{% trans 'Metric' %}"
                    ng-model="currentMetric"
                    ng-options="metric for metric in metricNames"
                    ng-change="metricChanged()"></select>
        </div>
        <div class="col-md-2">
            <select class="form-control"
                    aria-label="{% trans 'Comparator' %}"
                    title="{% trans 'Comparator' %}"
                    ng-model="currentComparator"
                    ng-options="f[0] as f[1] for f in {{comparators}}"
                    ng-change="saveExpression()"></select>
        </div>
        <div class="col-md-2">
            <input type="number"
                   step="any"
                   class="form-control"
                   aria-label="{% trans 'Threshold' %}"
                   title="{% trans 'Threshold' %}"
                   ng-model="currentThreshold"
                   ng-change="saveExpression()"/>
        </div>
    </div>

    <div class="row expression-details">
        <div class="col-md-10">
            <tags-input id="dimension-chooser"
                    ng-model="tags"
                    placeholder="{% trans 'Add a dimension' %}"
                    add-from-autocomplete-only="true"
                    on-tag-added="saveDimension()"
                    on-tag-removed="saveDimension()">
                <auto-complete source="possibleDimensions($query)"
                               max-results-to-show="30"
                               min-length="1">
                </auto-complete>
            </tags-input>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label id="is-deterministic-expression"
                       class="btn expression-deterministic"
                       ng-class="{'btn-primary': currentIsDeterministic, 'btn-default': !currentIsDeterministic}"
                       ng-click="currentIsDeterministic = !currentIsDeterministic;saveExpression()"
                       ng-model="currentIsDeterministic">{% trans 'Deterministic' %}</label>
            </div>
        </div>
    </div>

    <div class="row expression-details">
        <div class="topologyBalloon" id="metrics" style="position:static;display: block;">
            <div class="contentBody">
                <table class="detailInfoTable">
                    <caption>Matching Metrics</caption>
                    <tbody>
                    <tr>
                        <th ng-repeat="name in dimnames">{$name$}</th>
                    </tr>
                    <tr ng-repeat="metric in matchingMetrics">
                        <td ng-repeat="dim in dimnames" style="white-space:normal">{$metric[dim] | spacedim $}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
