{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}
{% load url from future %}

{% block form_id %}edit_method_form{% endblock %}
{% block form_action %}{{ action_url }}{% endblock %}

{% block modal-header %}{% trans "Edit Notification" %}{% endblock %}

{% block modal-body %}
    <h3>{% trans "Description" %}:</h3>
    <p>{% blocktrans %}
      The Name field is used to identify the notification method.
    {% endblocktrans %}</p>
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>

{% endblock %}

{% block modal-footer %}
  <a href="{{ cancel_url }}" class="btn btn-default cancel">{% trans "Cancel" %}</a>
  <input class="btn btn-primary" type="submit" value="{% trans "Save Notification" %}" />
{% endblock %}
