<style>
.alert-error {
background-color: #D64C4C;
border-color: red;
color: #EEEEEE;
}
.alert-warning {
background-color: #F7F700;
border-color: yellow;
}
.alert-notfound {
background-color: white;
border-color: grey;
color: grey;
}
.alert-unknown {
background-color: #6666FF;
border-color: blue;
color: lightgrey;
}
.diagram {
 -webkit-transition: all 600ms ease-in-out;
 background-color: darkgray;
 padding: 5px;
}
</style>
<div>
    <div id="current1" class="diagram">
        <div class="alert alert-block fade in" style="background:#E1E1E1;color:black;" ng-repeat="group in serviceModel()">
            <div>
                {{ group.name }}
            </div>
            <div ng-repeat="service in group.services" style="display:inline-block; margin-bottom:4px;">
                <a  ng-click="showService($event)">
                    <div class="alert alert-block {{ service.class }} fade in" style="display: inline-block; margin:2px;">

                        <img style="margin-right:5px;vertical-align:top;" ng-src="{{ service.icon }}"/>
                        {{ service.display }}
                    </div>
                </a>
            </div>
         </div>
    </div>
</div>
  Current time is: <span my-current-time="format"></span>