.alarm-expression .row {
    margin-left: -5px;
    margin-right: -5px;
}
.alarm-expression .expression-details {
    margin-bottom: 5px;
}
.alarm-expression .expression-details > div {
   padding-left: 2px;
   padding-right: 2px;
}

