<style>
.view-container {
  position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.view-frame.ng-enter {
  -webkit-animation: 5s fade-in;
  -moz-animation: 5s fade-in;
  -o-animation: 5s fade-in;
  animation: 5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 5s fade-out;
  -moz-animation: 5s fade-out;
  -o-animation: 5s fade-out;
  animation: 5s fade-out;
  z-index:99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
</style>

<div class="view-container">
  <div ng-view class="view-frame"></div>
</div>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}horizon/lib/ng-grid/ng-grid.css">
<script src='{{ STATIC_URL }}monitoring/js/app.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}monitoring/js/controllers.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}monitoring/js/directives.js' type='text/javascript' charset='utf-8'></script>
<script src="{{ STATIC_URL }}horizon/lib/angular/angular-route.js" type="text/javascript" charset="utf-8"></script>
