<script src='{{ STATIC_URL }}monitoring/controllers.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}monitoring/app.js' type='text/javascript' charset='utf-8'></script>
<script src="{{ STATIC_URL }}horizon/lib/ng-grid/ng-grid-2.0.7.debug.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}horizon/lib/angular/angular-route.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}horizon/lib/angular/angular-animate.js" type="text/javascript" charset="utf-8"></script>