<style>
.alert-error {
background-color: #D64C4C;
border-color: red;
color: #EEEEEE;
}
.alert-warning {
background-color: #F7F700;
border-color: yellow;
}
.alert-notfound {
background-color: white;
border-color: grey;
color: grey;
}
.alert-unknown {
background-color: #6666FF;
border-color: blue;
color: lightgrey;
}
.diagram {
 padding: 5px;
}
</style>
<div ng-controller = "monitoringController" ng-init="fetchStatus()">
Current time is: <span my-current-time="format"></span> <button ng-click="fetchStatus()">Refresh</button>
    <div id="current1" class="diagram">
        <div class="alert alert-block fade in" style="background:#E1E1E1;color:black;" ng-repeat="group in _serviceModel">
            <div>
                {$ group.name $}
            </div>
            <div ng-repeat="service in group.services" style="display:inline-block; margin-bottom:4px;">
                <a href="{% url 'horizon:admin:monitoring:servicealarm' 'nova' %}" ng-click="showService($event)">
                    <div class="alert alert-block {$ service.class $} fade in" style="display: inline-block; margin:2px;">
                        <img style="margin-right:5px;vertical-align:top;" ng-src="{$ service.icon $}"/>
                        {$ service.display $}
                    </div>
                </a>
            </div>
         </div>
    </div>
</div>
<script src='{{ STATIC_URL }}monitoring/js/app.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}monitoring/js/controllers.js' type='text/javascript' charset='utf-8'></script>
<script src='{{ STATIC_URL }}monitoring/js/directives.js' type='text/javascript' charset='utf-8'></script>
<script src="{{ STATIC_URL }}horizon/lib/angular/angular-route.js" type="text/javascript" charset="utf-8"></script>
